## Handling missing values

in python missing values are represented with NaN => Not a Number

In [6]:
import numpy as np

from pandas import Series, DataFrame

### Filtering missing values

In [4]:
missing = np.NaN

series_obj = Series(['row 1', 'row 2', missing, 'row 4', 'row 5', 'row 6', missing, 'row 7'])
series_obj

0    row 1
1    row 2
2      NaN
3    row 4
4    row 5
5    row 6
6      NaN
7    row 7
dtype: object

In [5]:
# check if a value is null

series_obj.isna()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

### filling missing values

In [8]:
np.random.seed(25)

df_obj = DataFrame(np.random.rand(36).reshape((6, 6)))
df_obj

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# creating missing values in our dataframe

df_obj