In [1]:

from pymongo import MongoClient

In [2]:
client = MongoClient('localhost', 27017, serverSelectionTimeoutMS=5000)

In [3]:
db = client.test

In [4]:
# creating an employee collection

employee = db.employee

In [5]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

In [6]:
dblist = client.list_database_names()
if "test" in dblist:
    print("The {} database exist!".format('test'))

The test database exist!

In [7]:
print(db.list_collection_names())

['employee']

In [8]:
col_list = db.list_collection_names()

if "employee" in col_list:
    print("The employee collection exists.")

The employee collection exists.

In [126]:
# insert one record

employee_details = {
    'Name': 'Emmanuel Akinyemi',
    'Address': '5 Anipole Street, NG',
    'Age': '28'
}

result = employee.insert_one(employee_details)

In [9]:
dblist = client.list_database_names()
if "test" in dblist:
    print("The '{}' database exit".format('test'))

The 'test' database exit

In [10]:
col_list = db.list_collection_names()

if "employee" in col_list:
    print("The employee collection exists.")

The employee collection exists.

In [129]:
print(result.inserted_id)

In [130]:
mylist = [{"_id": 1, "name": "John", "address": "Highway 37"},
          {"_id": 2, "name": "Peter", "address": "Lowstreet 27"},
          {"_id": 3, "name": "Amy", "address": "Close st 652"},
          {"_id": 4, "name": "Hannah", "address": "Mountain 21"},
          {"_id": 5, "name": "Michael", "address": "Valley 345"},
          {"_id": 6, "name": "Vicky", "address": "Yellow Garden 124"},
          {"_id": 7, "name": "Nicky", "address": "Yellow Garden 23"},
          {"_id": 8, "name": "Nancy", "address": "Younge Ave. 123"},
          {"_id": 9, "name": "Viola", "address": "Sideway Ave"}]

x = employee.insert_many(mylist)
print(x.inserted_ids)

In [11]:
# read one record

x = employee.find_one()

print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}

In [12]:
for x in employee.find():
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}

In [14]:
# limit read to a find number

for x in employee.find().limit(5):
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}

In [25]:
# print first 5 records

for idx, x in enumerate(employee.find(), start=0):
    if idx == 5:
        break
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}

In [16]:
for x in employee.find({}, {"_id": 0, "name": 1, "address": 1}):
    print(x)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Minnie', 'address': 'Close st 652'}
{'name': 'Minnie', 'address': 'Canyon 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}
{}
{}

In [17]:
# print all fields except age

for x in employee.find({}, {"Age": 0}):
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG'}

In [27]:
my_query = {"address": "Highway 37"}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

In [40]:
# get last 2 record
my_query = {"Address": "5 Anipole Street, NG"}

my_doc = employee.find(my_query).sort('_id', -1).limit(2)

for x in my_doc:
    print(x)

{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}

In [41]:
my_doc = employee.find().sort('_id', -1)

for x in my_doc:
    print(x)

{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

In [43]:
my_query = {"Address": "5 Anipole Street, NG"}

my_doc = employee.find(my_query).sort('_id', -1).limit(2)

for x in my_doc:
    print(x)

{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}

In [38]:
my_query = {"address": {"$regex": "L"}}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}

In [44]:
# Challenge question :  write a query that prints all records having the letter  ‘l’ (it’s L in lower case ) in their address field !

my_query = {"address": {"$regex": "l"}}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}

In [45]:
# OR in query

# print all address that start with 'Y' or 'S'

my_query = {"$or": [
    {"address": {"$regex": "^Y"}},
    {"address": {"$regex": "^S"}}
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [48]:
# print all address that start with 'Y' or 'S'

my_query = {"address": {"$regex": "^Y|^S"}}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [54]:
# AND in query

# print all address that start with 5 and have N in them
my_query = {"$and": [
    {"Address": {"$regex": "^5"}},
    {"Address": {"$regex": "N"}}
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}

In [139]:
# AND in query

my_query = {"$and": [
    {"address": {"$regex": "^Y"}},
    {"address": {"$regex": "1"}},
    {"name": {"$regex": "^N"}},
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

In [55]:
# NOT EQUAL in query

my_query = {"$and": [
    {"address": {"$regex": "^Y"}},
    {"address": {"$regex": "1"}},
    {"name": {"$ne": "Nicky"}},
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

In [56]:
# GREATER THAN

my_query = {"$and": [
    {"address": {"$gt": "S"}},
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [57]:
# LESS THAN

my_query = {"$and": [
    {"address": {"$lt": "S"}},
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}

In [58]:
# SORT METHOD

my_doc = employee.find().sort('name')

for x in my_doc:
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [59]:
my_doc = employee.find().sort(['name', 'address'])

for x in my_doc:
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [60]:
# SORT METHOD

# sort in descending order
my_doc = employee.find().sort('name', -1)

for x in my_doc:
    print(x)

{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}

In [61]:
# UPDATE ONE record

for x in employee.find():
    print(x)

my_query = {
    "address": "Valley 345"
}
new_values = {
    "$set": {
        "address": "Canyon 123"
    }
}

employee.update_one(my_query, new_values)

print("//////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")

for x in employee.find():
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
//////////////////////\\\\\\\\\\\\\\\\\\
{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}

In [147]:
# UPDATE MANY RECORDS

my_query = {
    "address": {
        "$regex": "^C"
    }
}

new_values = {
    "$set": {
        "name": "Minnie"
    }
}

x = employee.update_many(my_query, new_values)

print(x.modified_count, "documents updated.")

for x in employee.find():
    print(x)

In [62]:
# DELETE ONE RECORD

my_query = {
    "address": "Mountain 21"
}

employee.delete_one(my_query)

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [63]:
# DELETE MANY RECORD

my_query = {
    "address": {
        "$regex": "^Y"
    }
}

x = employee.delete_many(my_query)

print(x.deleted_count, "documents deleted!")

0 documents deleted!

In [64]:
# DELETE ALL RECORDS in a collection

x = employee.delete_many({})

print(x.deleted_count, "documents deleted!")

8 documents deleted!

In [147]:
# CHANGE FIELD FROM address TO employee_address
employee.update_many({}, {"$rename": {"address": "employee_address"}})

In [ ]:
# RENAME COLLECTION FROM employee to employee_details
# db.rename_collection('employee', 'employee_details')

In [ ]:
# Delete the field name
employee.update_many({}, {"$unset": {"name": ""}})

In [ ]:
# to drop the whole collection

# employee.drop()