In [118]:

from pymongo import MongoClient

In [119]:
client = MongoClient('localhost', 27017, serverSelectionTimeoutMS=5000)

In [120]:
db = client.test

In [121]:
# creating an employee collection

employee = db.employee

In [122]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

In [123]:
dblist = client.list_database_names()
if "test" in dblist:
    print("The {} database exist!".format('test'))

The test database exist!

In [124]:
print(db.list_collection_names())

['employee']

In [125]:
col_list = db.list_collection_names()

if "employee" in col_list:
    print("The employee collection exists.")

The employee collection exists.

In [126]:
# insert one record

employee_details = {
    'Name': 'Emmanuel Akinyemi',
    'Address': '5 Anipole Street, NG',
    'Age': '28'
}

result = employee.insert_one(employee_details)

In [127]:
dblist = client.list_database_names()
if "test" in dblist:
    print("The '{}' database exit".format('test'))

The 'test' database exit

In [128]:
col_list = db.list_collection_names()

if "employee" in col_list:
    print("The employee collection exists.")

The employee collection exists.

In [129]:
print(result.inserted_id)

664d4bb842125d39d1c9b91b

In [130]:
mylist = [{"_id": 1, "name": "John", "address": "Highway 37"},
          {"_id": 2, "name": "Peter", "address": "Lowstreet 27"},
          {"_id": 3, "name": "Amy", "address": "Close st 652"},
          {"_id": 4, "name": "Hannah", "address": "Mountain 21"},
          {"_id": 5, "name": "Michael", "address": "Valley 345"},
          {"_id": 6, "name": "Vicky", "address": "Yellow Garden 124"},
          {"_id": 7, "name": "Nicky", "address": "Yellow Garden 23"},
          {"_id": 8, "name": "Nancy", "address": "Younge Ave. 123"},
          {"_id": 9, "name": "Viola", "address": "Sideway Ave"}]

x = employee.insert_many(mylist)
print(x.inserted_ids)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: test.employee index: _id_ dup key: { _id: 1 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'op': {'_id': 1, 'name': 'John', 'address': 'Highway 37'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [ ]:
# read one record

x = employee.find_one()

print(x)

In [ ]:
for x in employee.find():
    print(x)

In [ ]:
# limit read to a find number

my_result = employee.find().limit(5)

for x in employee.find():
    print(x)

In [131]:
for x in employee.find({}, {"_id": 0, "name": 1, "address": 1}):
    print(x)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Minnie', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Minnie', 'address': 'Canyon 123'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}
{}
{}

In [132]:
# print all fields except age

for x in employee.find({}, {"Age": 0}):
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG'}

In [133]:
my_query = {"address": "Highway 37"}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

In [134]:
my_query = {"Address": "5 Anipole Street, NG"}

mmy_doc = employee.find(my_query).sort('_id', -1).limit(2)

for x in my_doc:
    print(x)

In [135]:
my_query = {"address": {"$regex": "V"}}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

In [136]:
# Challenge question :  write a query that prints all records having the letter  ‘l’ (it’s L in lower case ) in their address field !

my_query = {"address": {"$regex": "l"}}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}

In [137]:
# OR in query

my_query = {"$or": [
    {"address": {"$regex": "^Y"}},
    {"address": {"$regex": "^S"}}
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [138]:
# AND in query

my_query = {"$and": [
    {"address": {"$regex": "^Y"}},
    {"address": {"$regex": "1"}}
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [139]:
# AND in query

my_query = {"$and": [
    {"address": {"$regex": "^Y"}},
    {"address": {"$regex": "1"}},
    {"name": {"$regex": "^N"}},
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [140]:
# NOT EQUAL in query

my_query = {"$and": [
    {"address": {"$regex": "^Y"}},
    {"address": {"$regex": "1"}},
    {"name": {"$ne": "Nicky"}},
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [141]:
# GREATER THAN

my_query = {"$and": [
    {"address": {"$gt": "S"}},
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [142]:
# LESS THAN

my_query = {"$and": [
    {"address": {"$lt": "S"}},
]}

my_doc = employee.find(my_query)

for x in my_doc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}

In [143]:
# SORT METHOD

my_doc = employee.find().sort('name')

for x in my_doc:
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [144]:
my_doc = employee.find().sort(['name', 'address'])

for x in my_doc:
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [145]:
# SORT METHOD

# sort in descending order
my_doc = employee.find().sort('name', -1)

for x in my_doc:
    print(x)

{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}

In [146]:
# UPDATE ONE record

for x in employee.find():
    print(x)

my_query = {
    "address": "Valley 345"
}
new_values = {
    "$set": {
        "address": "Canyon 123"
    }
}

employee.update_one(my_query, new_values)

print("//////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")

for x in employee.find():
    print(x)

{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
//////////////////////\\\\\\\\\\\\\\\\\\
{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}

In [147]:
# UPDATE MANY RECORDS

my_query = {
    "address": {
        "$regex": "^C"
    }
}

new_values = {
    "$set": {
        "name": "Minnie"
    }
}

x = employee.update_many(my_query, new_values)

print(x.modified_count, "documents updated.")

for x in employee.find():
    print(x)

0 documents updated.
{'_id': ObjectId('664d34ca42125d39d1c9b917'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('664d371d42125d39d1c9b919'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}
{'_id': ObjectId('664d4bb842125d39d1c9b91b'), 'Name': 'Emmanuel Akinyemi', 'Address': '5 Anipole Street, NG', 'Age': '28'}

In [149]:
# DELETE ONE RECORD

my_query = {
    "address": "Mountain 21"
}

employee.delete_one(my_query)

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [151]:
# DELETE MANY RECORD

my_query = {
    "address": {
        "$regex": "^Y"
    }
}

x = employee.delete_many(my_query)

print(x.deleted_count, "documents deleted!")

3 documents deleted!

In [ ]:
# DELETE ALL RECORDS in a collection

x = employee.delete_many({})

print(x.deleted_count, "documents deleted!")

In [ ]:
# to drop the whole collection

# collection_name.drop()

In [147]:
# RENAME COLLECTION FROM employee to employee_details
# TODO
# CHANGE FIELD FROM address TO employee_address
# Delete the field name